// Main color
$color-primary: #0091C1; /*old green #2fafab*/
$color-primary-dark: #27918d;

// Gray scale
$color-white: #fff;
$color-gray-lighter: #f8f8f8;
$color-gray-light: #d8d8d8;
$color-gray-medium: #a5a5a5;
$color-gray-medium-dark: #888;
$color-gray-dark: #3d3c40;
$color-overlay:  rgba(255,255,255,0.8);

// Secondary colors
$color-success: #b3d110;
$color-success-dark: #a6be1f;
$color-complete : #a599c6;
$color-warning: #e6a131;
$color-danger: #fa5e59;
$color-info: #e6a131;
$color-bg-highlight: #eff5f7;
$color-myself: #c2288a;

// Social colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #dd4b39;
$color-instagram: #517fa4;
$color-youtube: #bb0000;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-vimeo: #aad450;
$color-flickr: #ff0084;


// COLOURS
.c-primary {
  color: $color-primary;
}
.c-white {
  color: $color-white;
}
.c-gray-lighter {
  color: $color-gray-light;
}
.c-gray-light {
  color: $color-gray-light;
}
.c-gray-medium {
  color: $color-gray-dark;
}
.c-gray-dark {
  color: $color-primary;
}


// BACKGROUNDS
.bg-primary {
  background-color: $color-primary;
}
.bg-white {
  background-color: $color-white;
}
.bg-gray-lighter {
  background-color: $color-gray-lighter;
}
.bg-gray-light {
  background-color: $color-gray-light;
}
.bg-gray-medium {
  background-color: $color-gray-dark;
}
.bg-gray-dark {
  background-color: $color-primary;
}
