// Main color
$color-primary: #2fafab;
$color-primary-dark: #27918d;

// Gray scale
$color-white: #fff;
$color-gray-lighter: #f6f6f6;
$color-gray-light: #d8d8d8;
$color-gray-medium: #a5a5a5;
$color-gray-dark: #3d3c40;

// Secondary colors
$color-success: #b8d422;
$color-success-dark: #a6be1f;
$color-complete : #a599c6;
$color-warning: #e6a16f;
$color-danger: #cf6d5d;
$color-info: #3b4752;

// Social colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #dd4b39;
$color-instagram: #517fa4;
$color-youtube: #bb0000;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-vimeo: #aad450;
$color-flickr: #ff0084;


// COLOURS
.c-primary {
  color: $color-primary;
}
.c-white {
  color: $color-white;
}
.c-gray-lighter {
  color: $color-gray-light;
}
.c-gray-light {
  color: $color-gray-light;
}
.c-gray-medium {
  color: $color-gray-dark;
}
.c-gray-dark {
  color: $color-primary;
}


// BACKGROUNDS
.bg-primary {
  background-color: $color-primary;
}
.bg-white {
  background-color: $color-white;
}
.bg-gray-lighter {
  background-color: $color-gray-lighter;
}
.bg-gray-light {
  background-color: $color-gray-light;
}
.bg-gray-medium {
  background-color: $color-gray-dark;
}
.bg-gray-dark {
  background-color: $color-primary;
}
