// CIRCLE
.circle-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  @extend .line-left;
}

.circle-header {
  // flex: 0;
  display: flex;
  padding: $space;
  @extend .bg-white;
  @extend .line-bottom;

  .circle-header-title {
    flex: 1;
    font-size: $fs16;
    font-weight: bold;
    .tag {
      margin-left: $space-s;
      color: $color-white;
      background-color: $color-warning;
      padding: 0.1rem 0.3rem;
      font-size: $fs11;
      font-weight: bold;
      border-radius: 2px;
      text-transform: uppercase;
      &.my-circle {
        background-color: $color-myself;
      }
    }
  }
  .circle-header-exit {
    color: $color-gray-medium;
    cursor: pointer;
    font-size: $fs13;
    text-transform: uppercase;
    margin-left: $space-s;
    margin-top: 0.2rem;
    &:hover {
      color: $color-gray-dark;
    }
  }

}

.circle-content {
  flex: 1;
  display: flex;


  // DROPDOWN
  .mod-dropdown {
    position: absolute;
    right: $space-s;
    top: 3.4rem;
    background: $color-white;
    padding: 1rem;
    border: 1px solid $color-gray-light;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    max-height: 40%;
    width: 50%;
    z-index: 1;
  }

  .mod-users-list {
    max-height: 50%;
    margin-bottom: 0;
    .user {
      display: flex;
      align-items: center;
      margin-bottom: $space;
      .avatar .thumb {
        margin-right: $space-s;
        height: 1.8rem;
        width: 1.8rem;
        font-size: 1rem;
      }
      .content {
        flex: 1;
        .username {
          font-weight: bold;
          font-size: $fs14;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// IDEAS & COMMENTS common base
.mod-ideas, .mod-comments {
  flex: 1;
  display: flex;
  @extend .bg-white;
  position: relative;
  flex-direction: column;

  .mod-header {
    // flex: 0;
    padding: $space 0 $space $space;
    display: flex;
    font-size: $fs16;
    font-weight: bold;
    border-bottom: 1px solid $color-gray-light;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
    z-index: 2;
    .title {
      flex: 1;
    }
    .action,
    .toggle {
      cursor: pointer;
      color: $color-gray-medium;
      width: 3rem;
      margin-top: -1rem;
      margin-bottom: -1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $color-gray-dark;
        background-color: $color-bg-highlight;
      }
    }
    .toggle {
      border-left: 1px solid $color-gray-light;
    }
    .icon-header {
      display: none;
      margin-right: $space-s;
    }
  }
  .mod-body {
    flex: 1 1 0;
    padding: 0 $space-s 0 $space;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    background-color: $color-gray-lighter;
  }
  .mod-add-box {
    // flex: 0;
    padding: $space;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.08);
    position: relative;
    border-top: 1px solid $color-gray-light;
    .input-text {
      width: 100%;
      padding-right: 2.6rem;
    }
    .input-text:focus,
    .input-text:focus + .button {
      border-color: $color-success;
    }
    .button {
      width: 2.6rem;
      background: $color-white;
      position: absolute;
      right: $space;
      top: $space;
      bottom: $space;
      border-radius: 0 $radius $radius 0;
      border: 1px solid $color-gray-light;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .fa {
        color: $color-gray-medium;
      }
      &:hover,
      &:focus {
        background: $color-success;
        border-color: $color-success !important;
        .fa {
          color: $color-white;
        }
      }
    }
  }

}

// IDEAS
.mod-ideas {
  @extend .line-right;
  .mod-idea {
    margin-bottom: $space;
    /*border-radius: $radius;*/
    @extend .line-all;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    background-color: $color-white;
    .idea {
      font-size: $fs18;
      padding: $space;
      font-weight: bold;
    }
    .voting-block {
      display: flex;
      align-items: center;
      padding: 0 $space $space $space;
      .votes {
        flex: 1;
        .votes-count {
          font-size: $fs13;
          color: $color-gray-medium;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
        .progress-bar {
          width: 100%;
          background-color: $color-gray-lighter;
          height: 6px;
          border-radius: 6px;
          .inner {
            height: 6px;
            border-radius: 6px;
            background-color: $color-success;
          }
        }
      }
      .btn {
        margin-left: $space;
        width: 4rem;
      }
    }
    &:first-child {
      margin-top: $space;
    }
  }
}
.ideas-zero-case {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  .inner {
    max-width: 16rem;
    display: inline-block;
    .copy {
      font-size: $fs16;
      color: $color-gray-medium-dark;
    }
    .fa-hand-o-down {
      color: $color-gray-light;
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}


// COLLAPSING IDEAS & COMMENTS (only desktop)
@include bp(medium-min) {
  .ideas-collapsed .mod-ideas,
  .comments-collapsed .mod-comments {
    flex:0;
    overflow:hidden;
    min-width: 50px;
    .mod-header .title,
    .mod-body,
    .mod-add-box {
      opacity: 0;
    }
    .mod-header {
      box-shadow: none;
    }
    .expander {
      cursor: pointer;
      background: $color-white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      .icon-header {
        display: block;
        margin-top: 1.2rem;
        margin-right: 0;
        pointer-events: none;
      }
    }:hover {
      background: $color-bg-highlight;
    }
  }
  .ideas-collapsed .map,
  .comments-collapsed .map {
    flex:2;
  }
  .ideas-collapsed .circle-wrapper,
  .comments-collapsed .circle-wrapper {
    flex:1;
  }
  .ideas-collapsed.comments-collapsed .map {
    flex:3;
  }
  .ideas-collapsed.comments-collapsed .circle-wrapper {
    flex:0;
    min-width: 101px;
    .circle-header {
      display: none;
    }
  }
  .ideas-collapsed .mod-ideas .title {
    display: none;
  }
  .comments-collapsed .mod-comments .title {
    display: none;
  }
}


// COMMENTS
.mod-comments {
  .mod-comment {
    display: flex;
    margin-bottom: $space;
    .avatar .thumb {
      margin-right: $space;
    }
    .content {
      flex: 1;
      .username {
        font-weight: bold;
        font-size: $fs14;
      }
      .comment {
        color: $color-gray-medium-dark;
        font-size: $fs16;
      }
    }
    &:first-child {
      margin-top: $space;
    }
  }
}
