// CIRCLE
.circle-wrapper {

  flex: 2;

  display: flex;
  flex-direction: column;
  position: relative;

  .circle-header {
    flex: 0;
    display: flex;
    padding: $space;
    @extend .bg-white;
    @extend .line-bottom;

    .circle-header-title {
      flex: 1;
      font-size: $fs16;
      font-weight: bold;
    }
    .circle-header-exit {
      color: $color-gray-medium;
      cursor: pointer;
      &:hover {
        color: $color-gray-dark;
      }
    }

  }

  .circle-content {
    flex: 1;
    display: flex;
  }

  // IDEAS & COMMENTS common base
  .mod-ideas, .mod-comments {
    flex: 1;
    display: flex;
    @extend .bg-white;
    position: relative;
    flex-direction: column;

    .mod-header {
      flex: 0;
      padding: $space;
      display: flex;
      font-size: $fs16;
      font-weight: bold;
      .title {
        flex: 1;
      }
      .toggle {
        cursor: pointer;
        color: $color-gray-medium;
        &:hover {
          color: $color-gray-dark;
        }
      }
    }
    .mod-body {
      flex: 1;
      padding: 0 $space;
    }
    .mod-add-box {
      flex: 0;
      padding: $space;
      position: relative;
      input {
        width: 100%;
        padding-right: 2.6rem;
      }
      .button {
        width: 2.6rem;
        background: $color-white;
        position: absolute;
        right: $space;
        top: $space;
        bottom: $space;
        border-radius: 0 $radius $radius 0;
        border: 2px solid $color-gray-light;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .fa {
          color: $color-gray-medium;
        }
        &:hover {
          background: $color-primary;
          border-color: $color-primary;
          .fa {
            color: $color-white;
          }
        }
      }
    }

  }

  // IDEAS
  .mod-ideas {
    @extend .line-right;
  }

  // COMMENTS
  .mod-comments {

  }

}
