.login-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background: $color-primary;

  // https://www.gradient-animator.com/
  background: linear-gradient(270deg, #1bbdce, #04b06d, #0091c1);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  #mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
}
.login {
  width: 50%;
  margin-top: -3%;
  padding: 3rem;
  background-color: $color-white;
  box-sizing: border-box;
  position: relative;

  h2 {
    font-size: $fs44;
    margin-bottom: $space;
    color: $color-gray-dark;
  }
  h3 {
    font-size: $fs24;
    opacity: 0.7;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3rem;
  }
  p {
    font-size: $fs18;
    color: $color-gray-medium-dark;
  }

  .input-box{
    display: flex;
    margin-top: 3rem;
    input {
      width: 50%;
      height: 4.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: $fs24;
      &:focus {
        border-color: $color-success-dark;
      }
    }
    button {
      width: 30%;
      height: 4.4rem;
      margin-left: $space;
      background-color: $color-success-dark;
      color: $color-white;
      font-size: $fs24;
      font-weight: bold;
      /*border: 2px solid $color-white;*/
      border: 2px solid $color-white;
      border-radius: $radius;
      cursor: pointer;
      &:hover {
        background-color: $color-success;
      }
    }

  }

}

@include bp(large) {

  .login {
    width: 70%;
    .input-box {
      input {
        font-size: $fs20;
      }
    }
  }
}
@include bp(medium) {

  .login {
    width: 90%;
    padding: 2rem;
    
    h2 {
      font-size: $fs38;
      margin-bottom: $space;
    }
    h3 {
      font-size: $fs20;
    }
    p {
      font-size: $fs16;
    }
    .input-box {
      margin-top: $space-xl;
      input {
        font-size: $fs16;
        width: 60%;
      }
      button {
        width: 30%;
      }
    }
  }
}
@include bp(small) {

  .login {
    width: 90%;
    padding: 1rem;

    h2 {
      font-size: $fs30;
    }
    h3 {
      font-size: $fs16;
    }
    p {
      font-size: $fs14;
    }
    .input-box {
      flex-direction: column;
      input {
        font-size: $fs16;
        width: 100%;
        margin-bottom: $space;
      }
      button {
        width: 100%;
        margin-left:0;
      }
    }
  }
}
