// MAP
.map {
  flex: 1;
  background-color: #cde1e8;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-lighter;
  }
}

$circle-size: 40%;
$circle-margin: 5%;

.circle {
  position: relative;
  margin: $circle-margin;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);

  .circle { // top circle (default)
    margin:auto;
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    display: block;
    top: $circle-margin;
    left: 50%;
    margin-left: -($circle-size/2); // half circle width
    box-shadow: none;
    border-width: 1px;

    &:first-child { // bottom left circle
      top: auto;
      margin-left: auto;
      bottom: 16%;
      left: 8%;
    }

    &:last-child { // bottom right circle
      top: auto;
      margin-left: auto;
      bottom: 16%;
      right: 8%;
    }
    &:hover {
      background-color: rgba(255,255,255,0.8);
    }
  }
  &.not-full {
    border-style: dashed !important;
  }
  &.my-circle {
    border-color: $color-primary;
  }
  &:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  }
}
