// MAP
.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: $space 0;
  position: relative;
}

.map-circles-view {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  background: #cde1e8;
  /**/
  display: flex; // @todo: not good with large amounts of circles
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-lighter;
  }
}

$circle-size: 36%;
$circle-margin: 2%;

.circle {
  position: relative;
  margin: $circle-margin;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
  display: inline-block;

  .circle { // top circle (default)
    margin:auto;
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    display: block;
    top: 6%;
    left: 50%;
    margin-left: -($circle-size/2); // half circle width
    box-shadow: none;
    border-width: 1px;

    &:hover {
      background-color: rgba(255,255,255,0.8);
    }
  }

  .circle:nth-child(2) { // bottom left circle
    top: auto;
    margin-left: auto;
    bottom: 18%;
    left: 8%;
  }

  .circle:nth-child(3) { // bottom right circle
    top: auto;
    margin-left: auto;
    bottom: 18%;
    right: 8%;
  }
  &.not-full {
    border-style: dashed !important;
  }
  &.agreed {
    box-shadow: inset 0 0 0 3px $color-success !important;
  }
  &.my-circle {
    box-shadow: 0 0 0 4px rgba(249,120, 163, 0.2) !important;
    border-color: #f978a3;
  }
  // &.active-circle {
  //   box-shadow: 0 0 0 4px rgba(249,120, 163, 0.4), inset 0 0 0 3px $color-success !important;
  // }
  &.active-circle {
    box-shadow: 0px 0 0px 4px rgba(49,178,197,0.30) !important;
    border-color: $color-primary;
    // box-shadow: inset 0 0 0 3px $color-primary !important;
  }
  &.active-circle.my-circle {
    box-shadow: 0px 0 0px 4px rgba(49,178,197,0.30) !important;
    border-color: #f978a3;
  }
  &.circle-user {
    pointer-events: none;
  }
}
// hover state only in root, wich is the one that will show the info window
.circle.root:hover {
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.6);
  z-index: 7;
  &.c-lv1 {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.6);
  }
}



// CIRCLE SIZES
/*
$size-lv1: 80px;
$size-lv2: 240px;
$size-lv3: 500px;
*/

$size-lv1: 116px;
$size-lv2: 320px;
$size-lv3: 600px;

.c-lv1 {
  width: $size-lv1;
  height: $size-lv1;
}
.c-lv2 {
  width: $size-lv2;
  height: $size-lv2;
}
.c-lv3 {
  width: $size-lv3;
  height: $size-lv3;
}

// CIRCLE RATIO
/*
Default is 3 because rythm with Andres
*/

.c-r4 {

}


// CIRCLE CONTEXTUAL INFO
.context-info {
  opacity: 0;
  pointer-events: none;
  border-radius: $radius;
  border: 2px solid $color-gray-light;
  background-color: $color-white;
  width: 16rem;
  text-align: left;
  z-index: 10;
  position: absolute;
  /*
  left: 50%;
  top: 50%;
  margin-left: -130px;
  margin-top: -75px;
  */
  .circle-title {
    font-size: $fs16;
    font-weight: bold;
    padding: $space $space $space-s $space;
    .tag {
      margin-left: $space-s;
      color: $color-white;
      background-color: $color-warning;
      padding: 0.1rem 0.2rem;
      font-size: $fs10;
      font-weight: bold;
      border-radius: 2px;
      text-transform: uppercase;
      .my-circle {
        background-color: #c2288a;
      }
    }
  }
  .mod-idea {
    .intro {
      color: $color-gray-medium;
      font-size: $fs11;
      padding: 0 $space;
    }
    .idea {
      font-size: $fs14;
      padding: 0 $space 0 $space;
      font-weight: bold;
      line-height: 1rem;
      overflow: hidden;
      // ellipsis that does not work in firefox...
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      &:before {
        content:"# ";
      }
    }
    .voting-block {
      display: flex;
      align-items: center;
      padding: $space $space $space $space;
      .votes {
        flex: 1;
        .votes-count {
          font-size: $fs13;
          color: $color-gray-medium;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
        .progress-bar {
          width: 100%;
          background-color: $color-gray-lighter;
          height: 6px;
          border-radius: 6px;
          .inner {
            max-width: 100%;
            height: 6px;
            border-radius: 6px;
            background-color: $color-success;
          }
        }
      }
    }
  }
  .mod-meta {
    display: flex;
    flex-direction: row;
    padding: $space-s $space;
    background-color: $color-gray-lighter;
    color: $color-gray-medium;
    font-size: $fs13;
    .item {
      margin-right: $space;
    }
    .fa {
      font-size: $fs14;
      margin-right: 0.3rem;
    }
  }
}
/*.circle.root:hover > .context-info {*/
//.circle.root > .context-info.info-shown {
.circle > .context-info.info-shown {
  opacity: 1;
  transition-delay:0.3s;
  pointer-events: auto;
}

@include bp(large) {
  .c-lv1 {
    width: $size-lv1*0.90;
    height: $size-lv1*0.90;
  }
  .c-lv2 {
    width: $size-lv2*0.90;
    height: $size-lv2*0.90;
  }
  .c-lv3 {
    width: $size-lv3*0.90;
    height: $size-lv3*0.90;
  }
}
@include bp(medium) {
  .c-lv1 {
    width: $size-lv1*0.85;
    height: $size-lv1*0.85;
  }
  .c-lv2 {
    width: $size-lv2*0.85;
    height: $size-lv2*0.85;
  }
  .c-lv3 {
    width: $size-lv3*0.85;
    height: $size-lv3*0.85;
  }
}
@include bp(small) {
  .c-lv1 {
    width: $size-lv1*0.75;
    height: $size-lv1*0.75;
  }
  .c-lv2 {
    width: $size-lv2*0.75;
    height: $size-lv2*0.75;
  }
  .c-lv3 {
    width: $size-lv3*0.75;
    height: $size-lv3*0.75;
  }
}


// RESULTS
.map-list-view {
  background: $color-gray-lighter;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}
.map-list-view .header {
  padding: $space $space 0 $space;
  font-size: $fs13;
  text-transform: uppercase;
  color: $color-gray-medium-dark;
}
.map-list-view .mod-idea {
  display: flex;
  padding: $space;
  .supports {
    padding-right: $space;
    .value {
      color: $color-gray-dark;
      font-weight: bold;
    }
    .label {
      color: $color-gray-dark;
      font-size: $fs11;
    }
  }
  .body {
    flex: 1;
    .idea {
      font-size: $fs16;
      font-weight: bold;
      /*&:before {
        content:"# ";
      }*/
    }
    .info {
      color: $color-gray-medium;
      font-size: $fs11;
    }
    .badge {
      color: $color-white;
      background-color: $color-success;
      font-weight: bold;
      font-size: $fs11;
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
    }
  }
}
.map-list-view .mod-idea:nth-child(0) {
  .body .idea {
    font-size: $fs30;
  }
  .supports .value {
    font-size: $fs30;
  }
}
.map-list-view .mod-idea:nth-child(1) {
  .body .idea {
    font-size: $fs26;
  }
  .supports .value {
    font-size: $fs26;
  }
}
.map-list-view .mod-idea:nth-child(2) {
  .body .idea {
    font-size: $fs24;
  }
  .supports .value {
    font-size: $fs24;
  }
}
.map-list-view .mod-idea:nth-child(3) {
  .body .idea {
    font-size: $fs22;
  }
  .supports .value {
    font-size: $fs22;
  }
}
.map-list-view .mod-idea:nth-child(4) {
  .body .idea {
    font-size: $fs20;
  }
  .supports .value {
    font-size: $fs20;
  }
}
.map-list-view .mod-idea:nth-child(5) {
  .body .idea {
    font-size: $fs18;
  }
  .supports .value {
    font-size: $fs18;
  }
}

// TOGGLE VIEW
.map-toggle-view {
  position: absolute;
  bottom: $space-s;
  right: $space-s;
  z-index: 10;
  height: 2.4rem;
  width: 2.4rem;
  background-color: blue;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  background: $color-white;
  opacity: 0.6;
  .map-toggle {
    .fa {
      margin-top: 0.7rem;
    }
  }
  .map-toggle-list {

  }
  .map-toggle-map {
    display: none;
  }
}:hover {
  opacity: 1;
}
.list-view .map-toggle-list {
  display: none;
}
.list-view .map-toggle-map {
  display: block;
}
.list-view .map-list-view {
  display: block;
}
