// MAP
.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: $space 0;
  background-color: #cde1e8;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-lighter;
  }
}

$circle-size: 36%;
$circle-margin: 2%;

.circle {
  position: relative;
  margin: $circle-margin;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);

  .circle { // top circle (default)
    margin:auto;
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    display: block;
    top: 6%;
    left: 50%;
    margin-left: -($circle-size/2); // half circle width
    box-shadow: none;
    border-width: 1px;

    &:hover {
      background-color: rgba(255,255,255,0.8);
    }
  }

  .circle:nth-child(2) { // bottom left circle
    top: auto;
    margin-left: auto;
    bottom: 18%;
    left: 8%;
  }

  .circle:nth-child(3) { // bottom right circle
    top: auto;
    margin-left: auto;
    bottom: 18%;
    right: 8%;
  }
  &.not-full {
    border-style: dashed !important;
  }
  &.agreed {
    box-shadow: inset 0 0 0 3px $color-success !important;
  }
  &.my-circle {
    box-shadow: 0 0 0 4px rgba(249,120, 163, 0.2) !important; //#c2288a
    border-color: #f978a3;
  }
  &.my-circle.agreed {
    box-shadow: 0 0 0 4px rgba(249,120, 163, 0.4), inset 0 0 0 3px $color-success !important; //#c2288a
  }
  &:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    z-index: 7;
  }
}


// CIRCLE SIZES

$size-lv1: 80px;
$size-lv2: 240px;
$size-lv3: 500px;

.c-lv1 {
  width: $size-lv1;
  height: $size-lv1;
}
.c-lv2 {
  width: $size-lv2;
  height: $size-lv2;
}
.c-lv3 {
  width: $size-lv3;
  height: $size-lv3;
}

// CIRCLE RATIO
/*
Default is 3 because rythm with Andres
*/

.c-r4 {

}



// CIRCLE CONTEXTUAL INFO

.context-info {
  opacity: 0;
  pointer-events: none;
  border-radius: $radius;
  border: 2px solid $color-gray-light;
  background-color: $color-white;
  width: 16rem;
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -4rem;
  top: 50%;
  .circle-title {
    font-size: $fs16;
    font-weight: bold;
    padding: $space;
    .tag {
      margin-left: $space-s;
      color: $color-white;
      background-color: $color-warning;
      padding: 0.1rem 0.2rem;
      font-size: $fs10;
      font-weight: bold;
      border-radius: 2px;
      text-transform: uppercase;
    }
  }
  .mod-idea {
    .intro {
      color: $color-gray-medium;
      font-size: $fs11;
      padding: 0 $space;
    }
    .idea {
      font-size: $fs14;
      padding: 0 $space 0 $space;
      font-weight: bold;
      &:before {
        content:"# ";
      }
    }
    .voting-block {
      display: flex;
      align-items: center;
      padding: 0 $space $space $space;
      .votes {
        flex: 1;
        .votes-count {
          font-size: $fs13;
          color: $color-gray-medium;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
        .progress-bar {
          width: 100%;
          background-color: $color-gray-lighter;
          height: 6px;
          border-radius: 6px;
          .inner {
            height: 6px;
            border-radius: 6px;
            background-color: $color-success;
          }
        }
      }
    }
  }
  .mod-meta {
    display: flex;
    flex-direction: row;
    padding: $space-s $space;
    background-color: $color-gray-lighter;
    color: $color-gray-medium;
    font-size: $fs13;
    .item {
      margin-right: $space;
    }
    .fa {
      font-size: $fs14;
      margin-right: 0.3rem;
    }
  }
}
.circle.root:hover > .context-info {
  opacity: 1;
  transition-delay:0.3s;
  pointer-events: auto;
}


@include bp(large) {
  .c-lv1 {
    width: 60px;
    height: 60px;
  }
  .c-lv2 {
    width: 180px;
    height: 180px;
  }
  .c-lv3 {
    width: 320px;
    height: 320px;
  }
}
@include bp(medium) {
  .c-lv1 {
    width: 60px;
    height: 60px;
  }
  .c-lv2 {
    width: 180px;
    height: 180px;
  }
  .c-lv3 {
    width: 320px;
    height: 320px;
  }
}
@include bp(small) {
  .c-lv1 {
    width: 40px;
    height: 40px;
  }
  .c-lv2 {
    width: 120px;
    height: 120px;
  }
  .c-lv3 {
    width: 300px;
    height: 300px;
  }
}


// Results
.map-list-view {
  background: $color-white;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.map-list-view .header {
  padding: $space $space 0 $space;
}
.scrolling {
  height: 2000px;
  background: red;
  margin: 3rem;
  display: none;
}
