.notification {
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: $color-primary-dark;
  padding: $space;
  font-size: $fs20;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  &.success {
    background-color: $color-success;
  }
  &.error {
    background-color: $color-danger;
  }
  &.active {
    opacity: 1;
  }
}

@include bp(medium) {
  .notification {
    font-size: $fs18 !important;
  }
}

@include bp(small) {
  .notification {
    font-size: $fs16 !important;
  }
}
