/* The animation code */
@keyframes show-notification {
  0%   {opacity: 0;}
  5%  {opacity: 1;}
  95%  {opacity: 1;}
  100% {opacity: 0;}
}


.notification {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: $color-info;
  padding: $space;
  font-size: $fs20;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  &.success {
    background-color: $color-success;
  }
  &.error {
    background-color: $color-danger;
  }
  &.active {
    animation-name: show-notification;
    animation-duration: 2s;
  }
  .fa {
    position: absolute;
    top: 1.3rem;
    right: 3.3rem;
  }
}

@include bp(medium) {
  .notification {
    font-size: $fs18 !important;
  }
}

@include bp(small) {
  .notification {
    font-size: $fs16 !important;
  }
}

.test-notifications {
  padding: 1.3rem;
  cursor: pointer;
  z-index: 10;
  color: white;
  ul {
    display: none;
    position: absolute;
    right: 0;
    background: $color-primary;
    padding: $space;
    top: 4rem;
  }
  &:hover {
    ul {
      display: block
    }
  }
}
