// Buttons

%btn {
  align-items: stretch;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-family: "sourcesanspro", sans-serif;
  font-size: $fs16;
  font-weight: bold;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  &.btn-big {
    padding: 2rem 1rem;
  }
  &.btn-noshr {
    flex-shrink: 0;
  }
  &.btn-small {
    font-size: $fs18;
    padding: .7rem 1rem;
    line-height: 1.15;
  }
  span {
    text-align: center;
    width: 100%;
  }
}

.btn-primary {
  @extend %btn;
  align-items: center;
  background: $color-primary;
  color: $color-white;
  justify-content: center;
  display: flex;
  padding: 1rem;
  &:hover {
    background: $color-primary-dark;
    color: $color-white;
  }
}

.btn-success {
  @extend %btn;
  background: $color-success;
  color: $color-white;
  &:hover {
    background: $color-success-dark;
    color: $color-white;
  }
}

.btn-danger {
  @extend %btn;
  background: $color-danger;
  color: $color-white;
  &:hover {
    background: $color-danger;
    color: $color-white;
  }
}

.btn-gray {
  @extend %btn;
  background: $color-gray-medium;
  color: $color-white;
  &:hover {
    background: $color-gray-medium-dark;
  }
}

.btn-complete {
  @extend %btn;
  background: $color-complete;
  color: $color-white;
  &:hover {
    background: $color-complete;
    color: $color-white;
  }
}

.btn-facebook {
  @extend %btn;
  background: $color-facebook;
  color: $color-white;
  &:hover {
    background: $color-facebook;
    color: $color-white;
  }
}

.btn-twitter {
  @extend %btn;
  background: $color-twitter;
  color: $color-white;
  &:hover {
    background: $color-twitter;
    color: $color-white;
  }
}

.btn-linkedin {
  @extend %btn;
  background: $color-linkedin;
  color: $color-white;
  &:hover {
    background: $color-linkedin;
    color: $color-white;
  }
}

.btn-pinterest {
  @extend %btn;
  background: $color-pinterest;
  color: $color-white;
  &:hover {
    background: $color-pinterest;
    color: $color-white;
  }
}

.btn-transparent {
  @extend %btn;
  background: transparent;
  border: 2px solid $color-white;
  color: $color-white;
  &:hover {
    background: $color-white;
    color: $color-complete;
  }
}

.btn-transparent-complete {
  @extend %btn;
  background: transparent;
  border: 2px solid $color-complete;
  color: $color-complete;
  &:hover {
    background: $color-complete;
    color: $color-white;
  }
}

.btn-transparent-success {
  @extend %btn;
  background: transparent;
  border: 2px solid $color-success;
  color: $color-success;
  &:hover {
    background: $color-success;
    color: $color-white;
  }
}

.btn-transparent-danger {
  @extend %btn;
  background: transparent;
  border: 2px solid $color-danger;
  color: $color-danger;
  &:hover {
    background: $color-danger;
    color: $color-white;
  }
  svg {
    transform: rotate(45deg);
  }
}

.btn-large {
  flex-grow: 3;
  max-width: 400px;
  flex-basis: 60%;
  width: 100%;
}

.btn-option {
  display: flex;
  a {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &.column {
    flex-direction: column;
    a {
      margin-bottom: .5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.mr-small {
    margin: 1rem 0;
  }
  &.btn-option-400 {
    margin: 0 auto;
    max-width: 400px;
  }
  &.mb {
    margin-bottom: .5rem;
  }
}

.btn-disabled {
  opacity: .5;
  pointer-events: none;
}

// Input elements

input,
select {
  &:focus {
    border-color: $color-gray-medium;
  }
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
  margin-top: 1px 0 0;
}

input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  box-shadow: none;
  outline: none;
}

// Input text

.input-text {
  background-color: $color-white;
  box-sizing: border-box;
  color: $color-gray-dark;
  font-family: "sourcesanspro", sans-serif;
  font-size: $fs16;
  border: 1px solid $color-gray-light;
  border-radius: $radius;
  padding: 12px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


  // &.success {
  //   background-color: $color-success;
  //   border-color: $color-success;
  //   color: $color-success;
  // }
  //
  // &.invalid {
  //   background-color: $color-danger;
  //   border-color: $color-danger;
  //   color: $color-danger;
  // }



// Input select

.input-select {
  @extend .input-text;
  background-image: url("/assets/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 92% 48%;
  background-size: 10px;
  cursor: pointer;
}

// Messages

.message {
  align-items: center;
  background-color: $color-success;
  border-bottom: 3px solid $color-success;
  box-sizing: border-box;
  color: $color-white;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  .message-inside {
    font-size: $fs20;
    max-width: 1000px;
    text-align: center;
    width: 100%;
  }
}

// Avatars

.avatar {
  flex-shrink: 0;
  .thumb {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-myself;
    color: $color-white;
    font-size: $fs24;
    font-weight:bold;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


// Modal

.modal {
  background-color: $color-overlay;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  display:none;
  .modal-inner {
    position: relative;
    width: 600px;
    margin: 20px auto;
    background: $color-white;
    border: 2px solid $color-gray-light;
    border-radius: $radius;
    padding: $space-xl;
    .modal-title {
      font-size: $fs24;
      margin-bottom: $space;
    }
    .modal-body {
      margin-bottom: $space;
    }
    .modal-close {
      position: fixed;
      top: $space;
      right: $space;
      color: $color-gray-dark;
      cursor: pointer;
    }
  }
}
@include bp(medium) {
  .modal {
    .modal-inner {
      margin: 20px;
      width: auto;
    }
  }
}
@include bp(small) {
  .modal {
    background-color: $color-white;
    .modal-inner {
      margin: 0;
      border: none;
      width: auto;
    }
  }
}

// THUMB COLOURS LIST
.avatar .thumb.color-1 {
  background-color: #b3d110 !important;
}
.avatar .thumb.color-2 {
  background-color: #f2289f !important;
}
.avatar .thumb.color-3 {
  background-color: #f2c628 !important;
}
.avatar .thumb.color-4 {
  background-color: #FF9666 !important;
}
.avatar .thumb.color-5 {
  background-color: #730D32 !important;
}
.avatar .thumb.color-6 {
  background-color: #0290DA !important;
}
.avatar .thumb.color-7 {
  background-color: #A4CE4D !important;
}
.avatar .thumb.color-8 {
  background-color: #3D4E5C !important;
}
.avatar .thumb.color-9 {
  background-color: #D06D7F !important;
}
.avatar .thumb.color-10 {
  background-color: #D95220 !important;
}
.avatar .thumb.color-11 {
  background-color: #2B858C !important;
}
.avatar .thumb.color-12 {
  background-color: #0061A0 !important;
}
.avatar .thumb.color-13 {
  background-color: #D9AE30 !important;
}
.avatar .thumb.color-14 {
  background-color: #0B8C38 !important;
}
.avatar .thumb.color-16 {
  background-color: #D92B2B !important;
}
.avatar .thumb.color-17 {
  background-color: #706FCC !important;
}
.avatar .thumb.color-18 {
  background-color: #FFB541 !important;
}
.avatar .thumb.color-19 {
  background-color: #33F7FF !important;
}
.avatar .thumb.color-20 {
  background-color: #428C99 !important;
}
.avatar .thumb.color-21 {
  background-color: #3ECD89 !important;
}
.avatar .thumb.color-22 {
  background-color: #FF463D !important;
}
.avatar .thumb.color-23 {
  background-color: #3D4E5C !important;
}
.avatar .thumb.color-24 {
  background-color: #D62822 !important;
}
.avatar .thumb.color-25 {
  background-color: #468263 !important;
}
