// THIS IS THE MAIN INCLUDES SASS FILE and We Love IT

//********************************************
// VENDOR
//********************************************

//********************************************
// DEPENDENCIES
//********************************************
@import 'dependencies/mixin';
@import 'dependencies/fonts';
@import 'dependencies/reset';
@import 'dependencies/colors';

//********************************************
// BASE
//********************************************
@import 'base';
@import 'framework';

//********************************************
// LAYOUT - Common layout block
//********************************************
@import 'layout/header-footer';
@import 'layout/scaffolding';
@import 'layout/flexgrid';

//********************************************
// COMPONENTS - Reusable pieces of code
//********************************************

//********************************************
// PARTIALS - Single pieces of code
//********************************************
@import 'partials/circle-data';
@import 'partials/map';
@import 'partials/login';

//********************************************
// SHAME
//********************************************
