#mainHeader, #mainFooter {
  color: $color-white;
  background-color: $color-primary;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;

  .logo-icon {
    background: transparent url('../../icons/baoqu-logo.svg') no-repeat;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin: $space;
    margin-right: $space-s;
    min-width: 32px;
  }
  .logo {
    padding: $space 0;
    font-size: $fs24;
    font-weight: bold;
  }
  .event-name {
    font-size: $fs20;
    line-height: 1;
    font-weight: normal;
    padding: 1.3rem $space;
    margin-left: $space;
    border-left: 1px solid rgba(255,255,255,0.3);
  }

}

@include bp(medium) {
  .logo { display: none !important; }
  .logo-icon { margin-right: 0 !important; }
  .event-name {
    font-size: $fs18 !important;
  }
}

@include bp(small) {
  .event-name {
    font-size: $fs16 !important;
  }
}
