// SUPER RESPONSIVE MENU

.mobile-menu {
  display:none;
}

@include bp(large) {
  .hide-large { display: none !important}
  .show-large { display: block !important}
}

@include bp(medium) {
  .hide-medium { display: none !important}
  .show-medium { display: block !important}

  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .mobile-menu li {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: $space 0;
    cursor: pointer;
    border-bottom: 1px solid $color-gray-light;
    background-color: white;
    color: $color-gray-medium;
    .fa {
      margin-right: $space-s;
    }
    &:hover {
      color: $color-gray-dark;
      background-color: $color-gray-lighter;
    }
    &.active {
      pointer-events: none;
    //background-color: $color-primary-dark;
      //color: $color-white;
      color: $color-primary;
      box-shadow: inset 0px -4px 0 0px $color-primary;
      //border-top: 1px solid $color-white;
    }
  }

  .map              { flex:0; }
  .circle-wrapper   { flex:0; overflow:hidden; }
  .mod-ideas        { flex:0; overflow:hidden; }
  .mod-comments     { flex:0; overflow:hidden; }

  .mobile-show-map {
    .map            { flex:1; }
  }
  .mobile-show-ideas {
    .circle-wrapper { flex:1; overflow:auto; }
    .mod-ideas      { flex:1; overflow:auto; }
  }
  .mobile-show-comments {
    .circle-wrapper { flex:1; overflow:auto; }
    .mod-comments   { flex:1; overflow:auto; }
  }

  .mod-header {
    padding-right: 0;
  }

  // circle header
  .circle-header {
    margin-bottom: -3.4rem;
    border: 0;
    z-index: 3;
    text-align: right;
    background: transparent;
    // width: calc(100% - 6rem);
    position: fixed;
    top: 0;
    background-color: $color-primary;
    box-sizing: border-box;
    z-index: 10;
    left: 4rem;
    margin-left: 1px;
    margin-top: 3px;
    .circle-header-title {
      color: $color-white;
    }
    .circle-header-exit {
      color: $color-gray-lighter;
    }
  }

  .mod-ideas .mod-header .title,
  .mod-comments .mod-header .title {
    flex: -1;
  }

  // user area
  #user {
    bottom: $space;
    left: $space;
    .thumb {
      height: 2.8rem;
      width: 2.8rem;
      margin-bottom: 2px;
    }
  }
  .mod-add-box .input-text, .mod-comments .mod-add-box .input-text {
    width: calc(100% - 3.8rem) !important;
    margin-left: 3.8rem;
  }
  .mod-add-box-fallback {
    text-align: left;
    padding-left: 4.8rem;
  }

}

@include bp(small) {
  .hide-small { display: none !important}
  .show-small { display: block !important}

  #mainHeader {
    height: 2.6rem;
    .event-name, #mainFooter .event-name { padding: 0.8rem 1rem; }
  }

  // user area
  #user {
    bottom: $space-s;
    left: $space-s;
    margin-bottom: -1px;
    .thumb {
      height: 2.2rem;
      width: 2.2rem;
    }
  }
  .mod-ideas .mod-add-box, .mod-comments .mod-add-box,
  .mod-add-box .input-text, .mod-comments .mod-add-box .input-text {
    padding: $space-s;
  }
  .mod-ideas .mod-add-box .button, .mod-comments .mod-add-box .button {
    top: $space-s;
    bottom: $space-s;
    right: $space-s;
  }
  .mod-add-box .input-text, .mod-comments .mod-add-box .input-text {
    width: calc(100% - 2.8rem) !important;
    margin-left: 2.8rem;
    line-height: 10px;
  }

  .mobile-menu li {
    cursor: pointer;
    padding: $space-s 0;
    .title {
      display: none;
    }
  }
  .circle-header {
    padding: $space-s;
    border: 0;
  }
  .circle-header .circle-header-title .tag .label { display:none; }
  .circle-header .circle-header-title .tag.my-circle .label { display:none }
  .circle-header .circle-header-title .tag.my-circle:after { content:"o" }

  .mod-add-box-fallback {
    padding: $space-s $space-s $space-s 3.8rem;
  }
}
