// SUPER RESPONSIVE MENU

.mobile-menu {
  display:none;
}

@include bp(large) {
  .hide-large { display: none !important}
  .show-large { display: block !important}
}

@include bp(medium) {
  .hide-medium { display: none !important}
  .show-medium { display: block !important}

  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .mobile-menu li {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: $space 0;
    cursor: pointer;
    border-bottom: 1px solid $color-gray-light;
    background-color: white;
    color: $color-gray-medium;
    .fa {
      margin-right: $space-s;
    }
    &:hover {
      color: $color-gray-dark;
      background-color: $color-gray-lighter;
    }
    &.active {
      pointer-events: none;
    //background-color: $color-primary-dark;
      //color: $color-white;
      color: $color-primary;
      box-shadow: inset 0px -4px 0 0px $color-primary;
      //border-top: 1px solid $color-white;
    }
  }

  .map              { flex:0; }
  .circle-wrapper   { flex:0; overflow:hidden; }
  .mod-ideas        { flex:0; overflow:hidden; }
  .mod-comments     { flex:0; overflow:hidden; }

  .mobile-show-map {
    .map            { flex:1; }
  }
  .mobile-show-ideas {
    .circle-wrapper { flex:1; overflow:auto; }
    .mod-ideas      { flex:1; overflow:auto; }
  }
  .mobile-show-comments {
    .circle-wrapper { flex:1; overflow:auto; }
    .mod-comments   { flex:1; overflow:auto; }
  }

  // hiding things
  .mod-header .toggle {
    display:none
  }

  // circle header
  .circle-header {
    margin-bottom: -3.4rem;
    border: 0;
    z-index: 3;
    text-align: right;
    background: transparent;
  }


  // user area
  #user {
    bottom: auto;
    left: auto;
    bottom: $space;
    left: $space;
    .thumb {
      height: 2.8rem;
      width: 2.8rem;
    }
  }
  .mod-add-box input, .mod-comments .mod-add-box input {
    width: calc(100% - 3.8rem) !important;
    margin-left: 3.8rem;
  }
}

@include bp(small) {
  .hide-small { display: none !important}
  .show-small { display: block !important}

  .mobile-menu li {
    cursor: pointer;
    .title {
      display: none;
    }
  }
}
